<div class ="contents row">
  <p><%= image_tag @product.image %></p>
<p id="notice"><%= notice %></p>

<p>
  <strong>部屋の名前:</strong>
  <%= @product.roomname %>
</p>
<span class="name">
  <a href="/users/<%= @product.user.id %>">
    <strong>作成者:</strong><%= @product.user.nickname %>
  </a>
</span>

<p>
  <strong>メッセージ:</strong>
  <%= @product.text %>
</p>

<% if user_signed_in? && current_user.id == @product.user_id %>
  <div class="more">
  <ul class="more_list">
    <li>
      <%= link_to '編集', "/products/#{@product.id}/edit", method: :get %>
    </li>
    <li>
      <%= link_to '削除', "/products/#{@product.id}", method: :delete %>
    </li>
  </ul>
</div>
<% end %>

<%= simple_format(@product.text) %>


    <!-- ここからフォーム -->
    <% if current_user %>
      <%= form_tag("/products/#{@product.id}/reviews", method: :post) do %>
        <textarea cols="30" name="review" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="SENT">
      <% end %>
    <% end %>
    <div class="reviews">
      <h4>＜コメント一覧＞</h4>
      <% if @reviews %>
        <% @reviews.each do |review| %>
          <p>
            <strong><%= link_to review.user.nickname, "/users/#{review.user_id}" %>：</strong>
            <%= review.review %>
          </p>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', products_path %>
</div>




